{% extends "dashboard/base.html" %}
{% block title %}Buildings{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-10">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Buildings:</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Department</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for building in buildings %}
                                        <tr>
                                            <td>{{ building.name }}</td>
                                            <td class="text-center">{{ building.description }}</td>
                                            <td class="text-center">{{ building.department.get_name_display }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'buildings_details' building.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                {% if perms.airport_facilities.change_building%}
                                                <a href="{% url 'buildings_update' building.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                {% endif %}
                                                {% if perms.airport_facilities.delete_building %}
                                                <a href="{% url 'buildings_delete' building.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                                {% endif %}

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="text-right">
                    {% if perms.airport_facilities.add_building %}
                    <a href="{% url 'buildings_add' %}"
                       class="btn btn-primary  "
                       role="button"
                       aria-pressed="true">Add new Building</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
