{% extends "dashboard/base.html" %}
{% block title %}Other Facilities:{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Vehicles:</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Type</th>
                                        <th class="text-center">Registration no.</th>
                                        <th class="text-center">Department</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for vehicle in vehicles %}
                                        <tr>
                                            <td>{{ vehicle.type }}</td>
                                            <td class="text-center">{{ vehicle.registration_no }}</td>
                                            <td class="text-center">{{ vehicle.department.get_name_display }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'vehicles_details' vehicle.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                <a href="{% url 'vehicles_update' vehicle.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                <a href="{% url 'vehicles_delete' vehicle.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="text-right">
                    <a href="{% url 'vehicles_add' %}"
                       class="btn btn-primary  "
                       role="button"
                       aria-pressed="true">Add new Vehicle</a>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Properties:</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-center">Department</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for property in properties %}
                                        <tr>
                                            <td>{{ property.name }}</td>
                                            <td class="text-center">{{ property.department.get_name_display }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'properties_details' property.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                <a href="{% url 'properties_update' property.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                <a href="{% url 'properties_delete' property.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="text-right">
                    <a href="{% url 'properties_add' %}"
                       class="btn btn-primary  "
                       role="button"
                       aria-pressed="true">Add new Property</a>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Others:</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-center">Department</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for other in others %}
                                        <tr>
                                            <td>{{ other.name }}</td>
                                            <td class="text-center">{{ other.department.get_name_display }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'others_details' other.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                <a href="{% url 'others_update' other.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                <a href="{% url 'others_delete' other.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="text-right">
                    <a href="{% url 'others_add' %}"
                       class="btn btn-primary  "
                       role="button"
                       aria-pressed="true">Add new Other</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
