{% extends "dashboard/base.html" %}

{% block title %} Delete Property {{ object.name }}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}



{% block content %}
       <div class="content">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-header text-center py-4">
                            <h4 class="title">
                                Delete Property
                            </h4>
                <form role="form" method="post" action="">

                                {% csrf_token %}
                    <h5>Are you sure you want to delete {{ object.name }}?</h5>

        <div class="from-group">
            <button class="btn btn-danger animation-on-hover" type="submit">Yes</button>
          <a class="btn btn-success animation-on-hover" href="{% url 'other_facilities' %}">Cancel</a>
        </div>
                </form>
                        </div>
                    </div>
                </div>

            </div>
       </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
