{% extends "dashboard/base.html" %}
{% block title %}Aircrafts{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
    <h3>Aircrafts:</h3>
        <div class="row">
            <div class="col-md-10">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title">Aircraft Base</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Manufacture</th>
                                        <th>Model</th>
                                        <th class="text-center">Type</th>
                                        <th class="text-center">Can land at the airport</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for aircraft in aircrafts %}
                                        <tr>
                                            <td>{{ aircraft.manufacture }}</td>
                                            <td>{{ aircraft.name }}</td>
                                            <td class="text-center">{{ aircraft.get_type_display }}</td>
                                            <td class="text-center">
                                                {% if aircraft.can_land %}
                                                    Yes
                                                {% else %}
                                                    No
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <a href="{% url 'aircrafts_details' aircraft.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                {% if perms.aircraft.change_aircraft %}
                                                    <a href="{% url 'aircrafts_update' aircraft.id %}"
                                                       class="btn btn-info animation-on-hover btn-sm"
                                                       role="button"
                                                       aria-pressed="true">Edit</a>
                                                {% endif %}
                                                {% if perms.aircraft.delete_aircraft %}
                                                    <a href="{% url 'aircrafts_delete' aircraft.id %}"
                                                       class="btn btn-danger animation-on-hover btn-sm"
                                                       role="button"
                                                       aria-pressed="true">Delete</a>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="text-right">
                        {% if perms.aircraft.add_aircraft %}
                            <a href="{% url 'aircrafts_add' %}"
                               class="btn btn-primary  "
                               role="button"
                               aria-pressed="true">Add new Aircraft</a>
                        {% endif %}
                    </div>
                    <br>
                </div>
            </div>
    <br>
        <h3>Aircrafts hangared:</h3>
    {% for airport in airports %}
            <div class="row">
                <div class="col-md-10">
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-title">Aircraft stationed at the airport {{ airport.name }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table tablesorter " id="">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th>Manufacture</th>
                                            <th>Model</th>
                                            <th class="text-center">Type</th>
                                            <th class="text-center">Standing slot</th>
                                            <th class="text-center">Client</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for aircraft_hangared in aircrafts_hangared %}
                                            {% if aircraft_hangared.airport == airport %}
                                            <tr>
                                                <td>{{ aircraft_hangared.aircraft.manufacture }}</td>
                                                <td>{{ aircraft_hangared.aircraft.name }}</td>
                                                <td class="text-center">{{ aircraft_hangared.aircraft.get_type_display }}</td>
                                                <td class="text-center">
                                                    {% if aircraft_hangared.hangar %}

                                                            <a href="{% url 'hangars_details' aircraft_hangared.hangar.pk %}">{{ aircraft_hangared.hangar.name }}</a>

                                                    {% else %}

                                                            <a href="{% url 'outside_stands_details' aircraft_hangared.outside_stand.pk %}">
                                                                {{ aircraft_hangared.outside_stand.name }}
                                                            </a>

                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    {% if aircraft_hangared.client %}
                                                        {% if perms.clients.view_client %}
                                                            <a href="{% url 'clients_details' aircraft_hangared.client.pk %}">
                                                                {{ aircraft_hangared.client.name }} {{ aircraft_hangared.client.last_name }}
                                                            </a>
                                                        {% else %}
                                                            {{ aircraft_hangared.client.name }} {{ aircraft_hangared.client.last_name }}
                                                        {% endif %}
                                                    {% else %}
                                                        Airport property
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    <a href="{% url 'aircrafts_hangared_details' aircraft_hangared.id %}"
                                                       class="btn btn-success animation-on-hover btn-sm"
                                                       role="button"
                                                       aria-pressed="true">Details</a>
                                                    {% if perms.aircraft.change_aircrafthangared %}
                                                        <a href="{% url 'aircrafts_hangared_update' aircraft_hangared.id %}"
                                                           class="btn btn-info animation-on-hover btn-sm"
                                                           role="button"
                                                           aria-pressed="true">Edit</a>
                                                    {% endif %}
                                                    {% if perms.aircraft.delete_aircrafthangared %}
                                                        <a href="{% url 'aircrafts_hangared_delete' aircraft_hangared.id %}"
                                                           class="btn btn-danger animation-on-hover btn-sm"
                                                           role="button"
                                                           aria-pressed="true">Delete</a>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="text-right">
                            {% if perms.aircraft.add_aircrafthangared %}
                                <a href="{% url 'aircrafts_hangared_add' %}"
                                   class="btn btn-primary  "
                                   role="button"
                                   aria-pressed="true">Add new  Aircraft hangared</a>
                            {% endif %}
                        </div>
                        <br>
                    </div>
                </div>
    {% endfor %}
            </div>
        {% endblock content %}
        <!-- Specific Page JS goes HERE  -->
        {% block javascripts %}
        {% endblock javascripts %}
