{% extends "dashboard/base.html" %}
{% block title %}Offers{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Offers:</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for offer in offers %}
                                        <tr>
                                            <td>{{ offer.name }}</td>
                                            <td class="text-center">{{ offer.price }} PLN</td>
                                            <td class="text-center">
                                                <a href="{% url 'offers_details' offer.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                {% if perms.offer.change_offer %}
                                                <a href="{% url 'offers_update' offer.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                    {% endif %}
                                                {% if perms.offer.delete_offer %}
                                                <a href="{% url 'offers_delete' offer.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                                    {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="text-right">
                    {% if perms.offer.add_offer %}
                    <a href="{% url 'offers_add' %}"
                       class="btn btn-primary  "
                       role="button"
                       aria-pressed="true">Add new Offer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
