{% extends "dashboard/base.html" %}
{% block title %}Trainings{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-10">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Trainings:</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-center">Hours</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for training in trainings %}
                                        <tr>
                                            <td>{{ training.name }}</td>
                                            <td class="text-center">{{ training.hours }} hours</td>
                                            <td class="text-center">{{ training.price }} PLN</td>
                                            <td class="text-center">
                                                <a href="{% url 'trainings_detail' training.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                <a href="{% url 'trainings_update' training.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                <a href="{% url 'trainings_delete' training.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="text-right">
                    <a href="{% url 'trainings_add' %}"
                       class="btn btn-primary  "
                       role="button"
                       aria-pressed="true">Add new Training</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
