{% extends "dashboard/base.html" %}
{% block title %}Aircraft Stands{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-10">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title">Hangars</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-center">Height</th>
                                        <th class="text-center">Wight</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for hangar in hangars %}
                                        <tr>
                                            <td>{{ hangar.name }}</td>
                                            <td class="text-center">{{ hangar.hangar_height }} meters</td>
                                            <td class="text-center">{{ hangar.hangar_wight }} meters</td>
                                            <td class="text-center">
                                                <a href="{% url 'hangars_details' hangar.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                <a href="{% url 'hangars_update' hangar.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                <a href="{% url 'hangars_delete' hangar.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="text-right">
                    <a href="{% url 'hangars_add' %}"
                       class="btn btn-primary  "
                       role="button"
                       aria-pressed="true">Add new Hangar</a>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title">Outside Aircraft Stands</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-center">Surface</th>
                                        <th class="text-center">Size</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for outside_stand in outside_stands %}
                                        <tr>
                                            <td>{{ outside_stand.name }}</td>
                                            <td class="text-center">{{ outside_stand.get_surface_display }}</td>
                                            <td class="text-center">{{ outside_stand.get_size_display }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'outside_stands_details' outside_stand.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                <a href="{% url 'outside_stands_update' outside_stand.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                <a href="{% url 'outside_stands_delete' outside_stand.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="text-right">
                    <a href="{% url 'outside_stands_add' %}"
                       class="btn btn-primary  "
                       role="button"
                       aria-pressed="true">Add new Outside Stands</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
