{% extends "dashboard/base.html" %}
{% block title %}Airport{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        {% for a in airport %}
            <h3>Airport {{ a.name }} details:</h3>
            <div class="row">
                <div class="col-md-10">
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-title">Basic information:</h4>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table tablesorter " id="">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>Company</th>
                                                <th>City</th>
                                                <th>Address</th>
                                                <th>Contact</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ a.company }}</td>
                                                <td>{{ a.city }}</td>
                                                <td>{{ a.address }}</td>
                                                <td>{{ a.contact }}</td>
                                                <td>{{ a.description }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card ">
                                <div class="card-header">
                                    <h4 class="card-title">Air traffic:</h4>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table tablesorter " id="">
                                                <thead class=" text-primary">
                                                    <tr>

                                                        <th>Type of traffic permission</th>
                                                        <th class="text-left" >Radio</th>
                                                        <th class="text-left">Coordinates</th>
                                                        <th class="text-left">API</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{ a.types_of_traffic_permitted }}</td>
                                                        <td class="text-left">{{ a.radio }}</td>
                                                        <td class="text-left">{{ a.co_ordinates }}</td>
                                                        <td class="text-left">{{ a.AIP }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="card ">
                                        <div class="card-header">
                                            <h4 class="card-title">Airport position:</h4>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table tablesorter " id="">
                                                        <thead class=" text-primary">
                                                            <tr>
                                                                <th>Elevation</th>
                                                                <th>Length</th>
                                                                <th>Width</th>
                                                                <th>Space</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{ a.elevation }} ft</td>
                                                                <td>{{ a.length }} meters</td>
                                                                <td>{{ a.width }} meters</td>
                                                                <td>{{ a.square_meters }} square meters</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="text-right">
                                                <a href="{% url 'home' %}"
                                                   class="btn btn-primary animation-on-hover"
                                                   role="button"
                                                   aria-pressed="true">Back</a>
                                                {% if perms.airport.change_airport %}
                                                    <a href="{% url 'airports_update' a.id %}"
                                                       class="btn btn-info animation-on-hover  "
                                                       role="button"
                                                       aria-pressed="true">Edit</a>
                                                {% endif %}
                                              {% if perms.airport.delete_runway %}
                                                <a href="{% url 'airports_delete' a.id %}"
                                                   class="btn btn-danger animation-on-hover"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="text-right">
                                                {% if perms.airport.add_airport %}
                                                    <a href="{% url 'airports_add' %}"
                                                       class="btn btn-primary  "
                                                       role="button"
                                                       aria-pressed="true">Add new Airport</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                            {% endfor %}
                        </div>
                    {% endblock content %}
                    <!-- Specific Page JS goes HERE  -->
                    {% block javascripts %}
                    {% endblock javascripts %}
