{% extends "dashboard/base.html" %}
{% block title %}New Outside Aircraft Stand{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header text-center py-4">
                        <h4 class="title">New Outside Aircraft Stand</h4>
                        <h6 class="card-category">
                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                                <span>Add Outside Aircraft Stand details</span>
                            {% endif %}
                        </h6>
                    </div>
                    {% if success %}
                    {% else %}
                        <form role="form" method="post" action="">
                            {% csrf_token %}
                            <div class="card-body px-5 py-3">
                                <div class="row">
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Outside Stand Name</label>
                                            {{ form.name }}
                                        </div>
                                        <span class="text-danger">{{ form.name.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Outside Aircraft Stand Surface</label>
                                            {{ form.surface }}
                                        </div>
                                        <span class="text-danger">{{ form.surface.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Outside Aircraft Stand Size</label>
                                            {{ form.size }}
                                        </div>
                                        <span class="text-danger">{{ form.size.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Is Outside Aircraft Stand taken?</label>
                                            {{ form.taken }}
                                        </div>
                                        <span class="text-danger">{{ form.taken.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Runway Airport</label>
                                            {{ form.airport }}
                                        </div>
                                        <span class="text-danger">{{ form.airport.errors }}</span>
                                    </div>
                                </div>

                            <div class="card-footer text-center">
                                <button type="submit" name="add" class="btn btn-fill btn-primary">Save</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
