{% extends "dashboard/base.html" %}

{% block title %} Edit Company Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="content">


            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-header text-center py-4">
                            <h4 class="title">
                                Edit Company Details
                            </h4>
                            <h6 class="card-category">
                                {% if msg %}
                                    <span class="text-danger">{{ msg | safe }}</span>
                                {% else %}

                                {% endif %}
                            </h6>

                        </div>

                        {% if success %}



                        {% else %}

                            <form role="form" method="post" action="">

                                {% csrf_token %}

                                <div class="card-body px-5 py-3">


                                    <div class="row">
                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>Company Name</label>
                                                {{ form.name }}

                                            </div>
                                            <span class="text-danger">{{ form.name.errors }}</span>
                                        </div>

                                         <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>Company address</label>
                                                {{ form.address }}
                                            </div>
                                            <span class="text-danger">{{ form.address.errors }}</span>
                                        </div>

                                         <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>Company telephone</label>
                                                {{ form.telephone }}
                                            </div>
                                            <span class="text-danger">{{ form.telephone.errors }}</span>
                                        </div>

                                         <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>Company email domina</label>
                                                {{ form.email_domina }}
                                            </div>
                                            <span class="text-danger">{{ form.email_domina.errors }}</span>
                                        </div>

                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>Company description</label>
                                                {{ form.description }}
                                            </div>
                                            <span class="text-danger">{{ form.description.errors }}</span>
                                        </div>


                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" name="add" class="btn btn-fill btn-primary">Save</button>

                                </div>
                                </div>
                            </form>



                        {% endif %}

                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
