{% extends "dashboard/base.html" %}
{% block title %}Company{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">

        <h3>Company Details:</h3>
    {% for org in organization %}

<div class="row">
    <div class="col-md-6">
            <div class="card card-nav-tabs">
                <div class="card-body">
                    <h4 class="card-text">Name:  {{ org.name}}</h4>
                    <h4 class="card-text">Address:  {{ org.address }}</h4>
                    <h4 class="card-text">Telephone number:  {{ org.telephone }}</h4>
                    <h4 class="card-text">Email:  {{ org.email_domain }}</h4>
                    <h4 class="card-text">Description:  {{ org.description }}</h4>
                    <div class="col">
                        <div class="text-right">
                            {% if perms.organization.change_company %}
                                <a href="{% url 'company_update' org.id %}"
                                   class="btn btn-info animation-on-hover btn-sm btn-sm"
                                   role="button"
                                   aria-pressed="true">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <h3 class="title">{{ user.first_name }} {{ user.last_name }}</h3>
                        <h4 class="text">Job position:  {{ user.get_job_position_display }}</h4>
                        <h4 class="text">Department: {{ user.get_department_display }}</h4>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-md-10">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Departments in {{ org.name }}:</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dep in department %}
                                        <tr>
                                            <td>{{ dep.get_name_display }}</td>
                                            <td style="word-wrap: break-word; max-width: 700px;">{{ dep.description }}</td>
                                            <td>
                                            {% if perms.organization.change_department %}
                                                <a href="{% url 'departments_update' dep.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                {% endif %}
                                                {% if perms.organization.delete_department %}
                                                <a href="{% url 'departments_delete' dep.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



<div class="row">
    <div class="col-10">
        {% if perms.organization.add_department %}
                    <div class="text-right">
                        <a href="{% url 'departments_add' %}"
                           class="btn btn-primary "
                           role="button"
                           aria-pressed="true">Add new department</a>
                        {% endif %}
                    </div>
                </div>
            </div>
{% endfor %}
        </div>
    {% endblock content %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    {% endblock javascripts %}
