{% extends "dashboard/base.html" %}
{% block title %}Users{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Users:</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th>Last Name</th>
                                        <th>Department</th>
                                        <th class="text-center">Job Position</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.get_department_display }}</td>
                                            <td class="text-center">{{ user.get_job_position_display }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'users_details' user.id %}"
                                                   class="btn btn-success animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Details</a>
                                                <a href="{% url 'users_update' user.id %}"
                                                   class="btn btn-info animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Edit</a>
                                                <a href="{% url 'users_delete' user.id %}"
                                                   class="btn btn-danger animation-on-hover btn-sm"
                                                   role="button"
                                                   aria-pressed="true">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
