{% extends "dashboard/base.html" %}
{% block title %}New Corporate Client{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header text-center py-4">
                        <h4 class="title">New Corporate Client</h4>
                        <h6 class="card-category">
                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                                <span>Add Client</span>
                            {% endif %}
                        </h6>
                    </div>
                    {% if success %}
                    {% else %}
                        <form role="form" method="post" action="">
                            {% csrf_token %}
                            <div class="card-body px-5 py-3">
                                <div class="row">
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Client's Company Name</label>
                                            {{ form.company_name }}
                                        </div>
                                        <span class="text-danger">{{ form.company_name.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Client's NIP</label>
                                            {{ form.nip }}
                                        </div>
                                        <span class="text-danger">{{ form.nip.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Client's email</label>
                                            {{ form.email }}
                                        </div>
                                        <span class="text-danger">{{ form.email.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Client's Phone No.</label>
                                            {{ form.phone_no }}
                                        </div>
                                        <span class="text-danger">{{ form.phone_no.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Client's  trainings</label>
                                            {{ form.training }}
                                        </div>
                                        <span class="text-danger">{{ form.training.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Client's services</label>
                                            {{ form.offer }}
                                        </div>
                                        <span class="text-danger">{{ form.offer.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Is client Areoclub member?</label>
                                            {{ form.aeroclub_meber }}
                                        </div>
                                        <span class="text-danger">{{ form.aeroclub_meber.errors }}</span>
                                    </div>
                                </div>
                            <input type="hidden" id="custId" name="corporate_client" value="True">
                            <div class="card-footer text-center">
                                <button type="submit" name="add" class="btn btn-fill btn-primary">Save</button>
                            </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
