{% extends "dashboard/base.html" %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="card-body">
                                <div class="card-header card-header-warning">Time</div>
                                    <div class="card-time-container">
	                                        <h2 data-locale="Warsaw" data-offset="+2">
		                                        <p></p>
		                                        Warsaw <small>(Poland)</small>
	                                        </h2>
	                                        <h2 data-locale="New York" data-offset="-4">
		                                        <p></p>
		                                        New York<small>(USA)</small>
	                                        </h2>
	                                        <h2 data-locale="London" data-offset="+1">
		                                        <p></p>
		                                        London <small>(UK)</small>
	                                        </h2>

	                                        <h2 data-locale="Tokyo" data-offset="+9">
		                                        <p></p>
		                                        Tokyo <small>(Japan)</small>
	                                        </h2>
                                    </div>

                                </div>
                        </div>
                    </div>
                </div>
        <div class="row">
            <div class="col-lg-6">
            <div class="card card-nav-tabs">
              <div class="card-header card-header-warning">
                Featured
              </div>
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-nav-tabs">
                  <div class="card-header card-header-warning">
                    Featured
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
            <div class="card card-nav-tabs">
              <div class="card-header card-header-warning">
                Featured
              </div>
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
                </div>
            </div>

        </div>
    </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });

function searchClocks() {
	document.querySelectorAll('.card-time-container h2').forEach(item => {
		const timezone = {
			locale: item.getAttribute('data-locale'),
			offset: item.getAttribute('data-offset')
		};

		setInterval(() => {
			item.querySelector('p').innerHTML = calcTime(timezone);
		}, 1000);
	})
}

// get local time (browser based)
function calcTime(timezone) {
	const d = new Date(),
				utc = d.getTime() + (d.getTimezoneOffset() * 60000),
				nd = new Date(utc + (3600000 * timezone.offset));

	return nd.toLocaleString();
}

searchClocks();
</script>
{% endblock javascripts %}
