
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">

            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Small Airport Management
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'home' in segment %} active {% endif %} ">
                    <a href="{% url 'home' %}">
                        <i class="tim-icons icon-attach-87"></i>
                        <p>Home</p>
                    </a>
                </li>

                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="{% url 'organization' %}">
                        <i class="tim-icons icon-attach-87"></i>
                        <p>Company</p>
                    </a>
                </li>
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/static">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Airport</p>
                    </a>
                </li>
                <li class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="/icons.html">
                        <i class="tim-icons icon-atom"></i>
                        <p>Runways</p>
                    </a>
                </li>
                <li class="{% if 'map' in segment %} active {% endif %}">
                    <a href="/map.html">
                        <i class="tim-icons icon-pin"></i>
                        <p>Aircraft</p>
                    </a>
                </li>
                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="/notifications.html">
                        <i class="tim-icons icon-bell-55"></i>
                        <p>Clients/Members</p>
                    </a>
                </li>
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/user.html">
                        <i class="tim-icons icon-single-02"></i>
                        <p>Trainings</p>
                    </a>
                </li>
                <li class="{% if 'tables' in segment %} active {% endif %}">
                    <a href="/tables.html">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Offer</p>
                    </a>
                </li>
                <li class="{% if 'typography' in segment %} active {% endif %}">
                    <a href="/typography.html">
                        <i class="tim-icons icon-align-center"></i>
                        <p>Workers</p>
                    </a>
                </li>
                <li>
                    <a href="/rtl.html">
                        <i class="tim-icons icon-world"></i>
                        <p>Buildings</p>
                    </a>
                </li>
                <li>
                    <a href="/rtl.html">
                        <i class="tim-icons icon-world"></i>
                        <p>Management</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
