{% extends "dashboard/base.html" %}
{% block title %}Tables{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title">Todays Notifications</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                {% if todays_notifcations is empty %}
                                    <h4 class="card-text"> There is no todays notifications</h4>
                                {% else %}
                                    <thead class=" text-primary">
                                        <tr>
                                            <th>Title</th>
                                            <th class="text-center">Author</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for notification in todays_notifications %}
                                            <tr>
                                                <td>{{ notification.title }}</td>
                                                <td class="text-center">{{ notification.author }}</td>
                                                <td class="text-center">
                                                    <a href="{% url 'notifications_details' notification.id %}"
                                                       class="btn btn-success animation-on-hover btn-sm"
                                                       role="button"
                                                       aria-pressed="true">Details</a>
                                                    <a href="{% url 'notifications_update' notification.id %}"
                                                       class="btn btn-info animation-on-hover btn-sm"
                                                       role="button"
                                                       aria-pressed="true">Edit</a>
                                                    <a href="{% url 'notifications_delete' notification.id %}"
                                                       class="btn btn-danger animation-on-hover btn-sm"
                                                       role="button"
                                                       aria-pressed="true">Delete</a>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-title">Past Notifications</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table tablesorter " id="">

                                    <h4 class="card-text"> There is no past notifications</h4>

                                    <thead class=" text-primary">
                                        <tr>
                                            <th>Title</th>
                                            <th class="text-center">Author</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for past_notification in past_notifications %}
                                            <tr>
                                                <td>{{ past_notification.title }}</td>
                                                <td class="text-center">{{ past_notification.author }}</td>
                                                <td class="text-center">
                                                    <a href="{% url 'notifications_details' past_notification.id %}"
                                                       class="btn btn-success animation-on-hover btn-sm"
                                                       role="button"
                                                       aria-pressed="true">Details</a>
                                                    <a href="{% url 'notifications_update' past_notification.id %}"
                                                       class="btn btn-info animation-on-hover btn-sm"
                                                       role="button"
                                                       aria-pressed="true">Edit</a>
                                                    <a href="{% url 'notifications_delete' past_notification.id %}"
                                                       class="btn btn-danger animation-on-hover btn-sm"
                                                       role="button"
                                                       aria-pressed="true">Delete</a>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="card-title">Future Notifications</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table tablesorter " id="">
                                         {% if not future_notifcations %}
                                    <h4 class="card-text"> There is no future notifications</h4>
                                    {% else %}
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>Title</th>
                                                <th class="text-center">Author</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for future_notification in future_notifications %}
                                                <tr>
                                                    <td>{{ future_notification.title }}</td>
                                                    <td class="text-center">{{ future_notification.author }}</td>
                                                    <td class="text-center">
                                                        <a href="{% url 'notifications_details' future_notification.id %}"
                                                           class="btn btn-success animation-on-hover btn-sm"
                                                           role="button"
                                                           aria-pressed="true">Details</a>
                                                        <a href="{% url 'notifications_update' future_notification.id %}"
                                                           class="btn btn-info animation-on-hover btn-sm"
                                                           role="button"
                                                           aria-pressed="true">Edit</a>
                                                        <a href="{% url 'notifications_delete' future_notification.id %}"
                                                           class="btn btn-danger animation-on-hover btn-sm"
                                                           role="button"
                                                           aria-pressed="true">Delete</a>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="text-right">
                                <a href="{% url 'notifications_add' %}"
                                   class="btn btn-primary  "
                                   role="button"
                                   aria-pressed="true">Add notification</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
            <!-- Specific Page JS goes HERE  -->
            {% block javascripts %}
            {% endblock javascripts %}
