{% extends "dashboard/base.html" %}
{% block title %}New Notification{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header text-center py-4">
                        <h4 class="title">New Notification</h4>
                        <h6 class="card-category">
                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                                <span>Add notification details</span>
                            {% endif %}
                        </h6>
                    </div>
                    {% if success %}
                    {% else %}
                        <form role="form" method="post" action="">
                            {% csrf_token %}
                            <div class="card-body px-5 py-3">
                                <div class="row">
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Notification title</label>
                                            {{ form.title }}
                                        </div>
                                        <span class="text-danger">{{ form.title.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Notification view date</label>
                                            {{ form.view_date }}
                                        </div>
                                        <span class="text-danger">{{ form.view_date.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Notification text</label>
                                            {{ form.content }}
                                        </div>
                                        <span class="text-danger">{{ form.content.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Notification Airport</label>
                                            {{ form.airport }}
                                        </div>
                                        <span class="text-danger">{{ form.airport.errors }}</span>
                                    </div>
                            </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" name="add" class="btn btn-fill btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
