{% extends "dashboard/base.html" %}
{% block title %}Tables{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="content">
            {% for airport, notifications in notifications_by_airport.items %}
            <div class="row">
                <div class="col-md-8">
                <h3>Notifications for {{ airport.name }} Airport:</h3>
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-title">Todays Notifications:</h4>
                        </div>
                        <div class="card-body">
                            {% if notifications.todays_notifications %}
                                <div class="table-responsive">
                                    <table class="table tablesorter">
                                        <thead class="text-primary">
                                            <tr>
                                                <th>Title</th>
                                                <th class="text-center">Author</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for notification in notifications.todays_notifications %}
                                                <tr>
                                                    <td>{{ notification.title }}</td>
                                                    <td class="text-center">{{ notification.author }}</td>
                                                    <td class="text-center">
                                                        <a href="{% url 'notifications_details' notification.id %}"
                                                           class="btn btn-success animation-on-hover btn-sm"
                                                           role="button"
                                                           aria-pressed="true">Details</a>
                                                        {% if perms.notifications.change_notification %}
                                                            <a href="{% url 'notifications_update' notification.id %}"
                                                               class="btn btn-info animation-on-hover btn-sm"
                                                               role="button"
                                                               aria-pressed="true">Edit</a>
                                                        {% endif %}
                                                        {% if perms.notifications.delete_notification %}
                                                            <a href="{% url 'notifications_delete' notification.id %}"
                                                               class="btn btn-danger animation-on-hover btn-sm"
                                                               role="button"
                                                               aria-pressed="true">Delete</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="card-text">There are no today's notifications</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


                <div class="row">
                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-title">Past Notifications:</h4>
                        </div>
                        <div class="card-body">
                            {% if notifications.past_notifications %}
                                <div class="table-responsive">
                                    <table class="table tablesorter">
                                        <thead class="text-primary">
                                            <tr>
                                                <th>Title</th>
                                                <th class="text-center">Author</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for notification in notifications.past_notifications %}
                                                <tr>
                                                    <td>{{ notification.title }}</td>
                                                    <td class="text-center">{{ notification.author }}</td>
                                                    <td class="text-center">
                                                        <a href="{% url 'notifications_details' notification.id %}"
                                                           class="btn btn-success animation-on-hover btn-sm"
                                                           role="button"
                                                           aria-pressed="true">Details</a>
                                                        {% if perms.notifications.change_notification %}
                                                            <a href="{% url 'notifications_update' notification.id %}"
                                                               class="btn btn-info animation-on-hover btn-sm"
                                                               role="button"
                                                               aria-pressed="true">Edit</a>
                                                        {% endif %}
                                                        {% if perms.notifications.delete_notification %}
                                                            <a href="{% url 'notifications_delete' notification.id %}"
                                                               class="btn btn-danger animation-on-hover btn-sm"
                                                               role="button"
                                                               aria-pressed="true">Delete</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="card-text">There are no past notifications</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
                        <div class="row">
                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-title">Future Notifications:</h4>
                        </div>
                        <div class="card-body">
                            {% if notifications.future_notifications %}
                                <div class="table-responsive">
                                    <table class="table tablesorter">
                                        <thead class="text-primary">
                                            <tr>
                                                <th>Title</th>
                                                <th class="text-center">Author</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for notification in notifications.future_notifications %}
                                                <tr>
                                                    <td>{{ notification.title }}</td>
                                                    <td class="text-center">{{ notification.author }}</td>
                                                    <td class="text-center">
                                                        <a href="{% url 'notifications_details' notification.id %}"
                                                           class="btn btn-success animation-on-hover btn-sm"
                                                           role="button"
                                                           aria-pressed="true">Details</a>
                                                        {% if perms.notifications.change_notification %}
                                                            <a href="{% url 'notifications_update' notification.id %}"
                                                               class="btn btn-info animation-on-hover btn-sm"
                                                               role="button"
                                                               aria-pressed="true">Edit</a>
                                                        {% endif %}
                                                        {% if perms.notifications.delete_notification %}
                                                            <a href="{% url 'notifications_delete' notification.id %}"
                                                               class="btn btn-danger animation-on-hover btn-sm"
                                                               role="button"
                                                               aria-pressed="true">Delete</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="card-text">There are no future notifications</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="text-right">
                                {% if perms.notifications.add_notification %}
                                <a href="{% url 'notifications_add' %}"
                                   class="btn btn-primary  "
                                   role="button"
                                   aria-pressed="true">Add notification</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <br><br>
    {% endfor %}
                </div>
            {% endblock content %}
            <!-- Specific Page JS goes HERE  -->
            {% block javascripts %}
            {% endblock javascripts %}
